/* --- helper --- */
.hidden {
  height: 0;
  visibility: hidden;
}
/* --- content --- */
.frube-page-content {
  width: 100%;
}
.mdl-card {
  width: 100%;
}
.mdl-grid {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.frube-video-count {
  font-size: 12px;
  padding-left: 4px;
  vertical-align: super;
  color: rgb(117, 117, 117);
}
.mdl-slider__container {
  width: 100%;
}

/* ---- site header ---- */
.mdl-layout__header .mdl-navigation {
  padding-top: 3px;
}
.mdl-layout__header .mdl-navigation .mdl-button {
  color: white;
  font-weight: normal;
  text-transform: none;
}
.mdl-layout-title {
  color: white;
  text-decoration: none;
}
/* ---- search/queue results ---- */
.frube-playlist-results .mdl-card__media > img,
.frube-search-results .mdl-card__media > img {
  max-width: 100%;
  cursor: pointer;
}
.frube-search-results figure,
.frube-playlist-results figure {
  margin: 0 auto;
}
.frube-playlist-results .mdl-card__actions,
.frube-search-results .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.frube-playlist-results .mdl-card__actions > .mdl-button--icon,
.frube-search-results .mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}
/* move bottom bar to bottom */
.frube-playlist-results .mdl-card,
.frube-search-results .mdl-card {
  height: 100%;
}
.frube-playlist-results .mdl-card__title,
.frube-search-results .mdl-card__title {
  display: inline;
  flex-grow: 2;
}
.frube-playlist-results h3,
.frube-search-results h3 {
  font-size: 14px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.frube-playlist-results .mdl-card__supporting-text,
.frube-search-results .mdl-card__supporting-text {
  padding-top: 0;
  text-align: justify;
}

/* controller */
.frube-controller-buttons {
  display: flex;
  padding-top: 0;
  justify-content: space-between;
  padding-right: 32px;
}
.frube-controller-buttons form {
  display: inline;
}

@media (max-width: 1023px) {
  .frube-controller-buttons {
    padding-right: 14px;
    padding-left: 4px;
  }
  .frube-controller-video {
    width: 84%;
  }
  .frube-controller-video .mdl-button {
    min-width: 48px;
  }
  .frube-controller-video .mdl-button {
    padding: 0 14px;
  }
}

/* icons */
.mdl-list__item-icon, .mdl-list__item-icon.material-icons {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -1px;
}

/* menu action form submit */
.frube-custom-menu-action {
  padding: 0;
}
.frube-custom-menu-action:after,
.frube-custom-menu-action:before {
  content: none;
}
.frube-custom-menu-action:hover {
  background-color: transparent;
}
.frube-custom-menu-action form button {
  width: 100%;
  font-weight: inherit;
  text-shadow: none;
  text-transform: none;
  display: inline-block;
  height: 48px;
}
.frube-configure .frube-configure-label {
  color: rgb(117, 117, 117);  
}

/* icons */
.frube-icon {
  color: rgb(117, 117, 117);
}
.frube-player-controller .frube-icon {
  width: 24px;
}
.frube-player-controller ul {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.frube-player-controller ul li:first-child {
  padding-left: 0;
  padding-right: 0;
}
.frube-playlist {
  flex-direction: row;
  min-height: 64px;
  padding: 0 40px 0 24px;
}

/* spacing, header padding */
@media (min-width: 1024px) {
  .frube-page-content {
    padding-left: 17%;
    padding-right: 17%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (max-width: 1023px) {
  .frube-player-controller ul li:first-child {
    padding-left: 20px;
    padding-right: 30px;
  }
  .frube-video-count {
    display: inline-block;
    vertical-align: middle;
  }
  .frube-statistics-container .frube-icon {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  .frube-page-content {
    padding-left: 16px;
    padding-right: 16px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mdl-layout__header-row {
    padding-left: 16px;
    overflow: hidden;
  }
  .is-focused .mdl-textfield__expandable-holder input {
    margin-right: 16px;
  }
  .is-focused .mdl-textfield__expandable-holder {
    max-width: 150px;
  }
  .frube-playlist-controller-repeat,
  .frube-playlist-controller-shuffle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
  }
  .frube-playlist-controller-repeat {
    padding: 16px 0 0 16px;
  }
  .frube-playlist-controller-shuffle {
    padding: 16px 8px 0 0;
  }
  .frube-playlist {
    padding: 0;
  }
}
.frube-playlist-controller-repeat,
.frube-playlist-controller-shuffle {
  min-width: 100px;
  width: auto;
}
.frube-playlist-controller-filter .mdl-textfield {
  padding: 0;
}
.frube-playlist-controller-filter .mdl-textfield--expandable .mdl-button--icon {
  top: 0;
}

.frube-playlist-controller-filter {
  text-align: right;
}

.frube-player-container {
  margin-top: 16px;
  height: 80%;
}
.frube-playlist-switch-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
}
@media (max-width: 1023px) {
  .frube-playlist-switch-icon {
    margin-right: 12px;   
  }
}

.frube-playlist-switch-icon + label {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

/* statistics */
.frube-video-controls .mdl-card {
  min-height: inherit;
}
.frube-title-container {
  padding-bottom: 0;
  padding-left: 42px;
  padding-right: 42px;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.frube-title-container h3 {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}
.frube-subtitle-container {
  padding-left: 42px;
  padding-right: 42px;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .frube-title-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
  }
  .frube-subtitle-container {
    padding-left: 16px;
    padding-right: 4px;
    max-height: 56px;
  }
}

.frube-statistics-container {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 0 16px 4px;
  text-align: left;
}
@media (max-width: 1023px) {
  .frube-statistics-container {
    font-size: 16px; 
    vertical-align: middle;
    width: 35%;
  }
}

/* action-container */
.frube-action-controls {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  float: right
}
.frube-action-container {
  display: inline-block;
  padding: 0 8px;
}

/* overlay */
.frube-overlay:before {
font-family: 'Material Icons';
  font-size: 98px;
  position: absolute;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  color: rgba(107, 107, 107, .5);
  opacity: 0.65;
  left: 0;
  right: 0;
  height: 100%;
  padding-top: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.frube-search-results .frube-overlay:before {
  padding: 0;
  top: 50%;
}
@media (max-width: 1023px) {
  .frube-overlay:before {
    padding-top: 30%;
  }
}
.frube-overlay .mdl-card:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, .75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.frube-video-card,
.frube-search-card {
  position: relative;
}
.frube-overlay .mdl-card {
  /* filter: blur(1px); */
  pointer-events: none;
}
.frube-overlay.frube-video-playing:before {
  content: "play_circle_outline";
}
.frube-overlay.frube-video-deleted:before {
  content: "delete_sweep";
}
.frube-overlay.frube-video-listed:before {
  content: "playlist_add_check";
}
.frube-overlay.frube-video-editing:before {
  content: "edit";
}
.frube-overlay.frube-video-searching:before {
  content: "youtube_searched_for";
}
.frube-overlay.frube-video-searching:after {
  content: "Search Youtube to add videos";
  font-family: "Roboto","Helvetica","Arial", sans-serif;
  font-size: 14px;
  color: rgba(107, 107, 107, .5);
  margin-left: 0;
  position: absolute;
  margin-right: 0;
  text-align: center;
  left: 0;
  right: 0;
  top: 60%;
}
@media (max-width: 1023px) {
  .frube-overlay.frube-video-searching:after {
    top: 65%;
  }
}



/* take this, mdl action button! */
.frube-action form .mdl-button.mdl-button--colored,
.frube-action form .mdl-button.mdl-button--colored:visited,
.frube-action form .mdl-button.mdl-button--colored:focus {
  background: 0 0;
  position: absolute;
  right: 100px;
  bottom: 28px;
  width: 56px;
  height: 56px;
  overflow: visible;
  text-align: center;
  line-height: 56px;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
  background-color: rgb(244,67,54);
  color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  transition: none;
}
.frube-action form .mdl-button .material-icons {
  pointer-events: none;
}
/* and this! */
.frube-action form .mdl-button.mdl-button--colored:active {
  background-color: rgb(244,67,54);
  background: radial-gradient(ellipse at center, rgba(158, 158, 158, .4) 0%, rgba(158, 158, 158, .4) 100%), radial-gradient(ellipse at center, rgb(244, 67, 54) 0%, rgb(244, 67, 54) 100%);}
.frube-action form  .mdl-button.mdl-button--colored:hover {
  background-color: rgb(244,67,54);
  background: radial-gradient(ellipse at center, rgba(158, 158, 158, .2) 0%, rgba(158, 158, 158, .2) 100%), radial-gradient(ellipse at center, rgb(244, 67, 54) 0%, rgb(244, 67, 54) 100%);
}
@media (max-width: 1023px) {
  .frube-action form .mdl-button.mdl-button--colored,
  .frube-action form .mdl-button.mdl-button--colored:visited,
  .frube-action form .mdl-button.mdl-button--colored:focus {
    right: 36px;
  }
}
.frube-track-score {
  padding: 0;
  min-width: 16px;
}

/* loading video blanks */
.frube-search-results .mdl-card__media,
.frube-queue-results .mdl-card__media {
  background: #fff;
}
.frube-search-results .mdl-card__media:after,
.frube-queue-results .mdl-card__media:after {
content: "more_horiz";
  color: rgba(107, 107, 107, .5);
  font-size: 64px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  padding-top: 14%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -1;
}
